body,
html {
    background-color: #000;
    color: #fff;
    font-family: "Sedan SC", "Ruslan Display", cursive;
    font-size: 14px;
    min-height: 100%;
}

.app-background {
    background: transparent center no-repeat fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

button,
.btn {
    color: #fff;
    outline: none;
}

.btn:hover {
    color: #b74a45;
}
