body,
html {
    background-color: #000;
    color: #fff;
    font-family: "Sedan SC", "Ruslan Display", cursive;
    font-size: 14px;
    min-height: 100%;
}

button {
    outline: none;
}

.app-background {
    background: transparent center no-repeat fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

/*unused styles, might be useful in future*/

/*
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    color: white;
    height: 150px;
    padding: 20px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
*/
