body,
html {
    background-color: #000;
    color: #fff;
    font-family: "Sedan SC", "Ruslan Display", cursive;
    font-size: 14px;
    min-height: 100%;
}

button {
    outline: none;
}

/*unused styles, might be useful in future*/

/*
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
} */

.app-background {
    background: transparent center no-repeat fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

/* heart */
.app-heart {
    background-color: #ff0101;
    height: 20px;
    position: absolute;
    transform: translate(-50%) rotate(45deg);
    width: 20px;
}

.app-heart::after {
    background-color: inherit;
    border-radius: 50%;
    content: '';
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.app-heart::before {
    background-color: inherit;
    border-radius: 50%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: -50%;
    width: 100%;
    z-index: -1;
}

.app-heart-text {
    font-size: 20px;
    height: 125%;
    left: -25%;
    line-height: 125%;
    position: absolute;
    text-align: center;
    top: -25%;
    transform: rotate(-45deg);
    width: 125%;
}

/*
.App-header {
    background-color: #222;
    color: white;
    height: 150px;
    padding: 20px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
*/
