.card-chained {
    background-image: url("../images/chain.png");
    height: 168px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 100;
}

/* icons */

.icon-arrows {
	background-image: url("../images/icons/cycle_arrows.png");
}

.icon-attack {
	background-image: url("../images/icons/skull.png");
}

.icon-damage {
	background-image: url("../images/icons/heart_black.png");
}

.icon-heal {
	background-image: url("../images/icons/drop_r.png");
}

.icon-heart {
	background-image: url("../images/icons/heart_red.png");
}

.icon-hold {
	background-image: url("../images/icons/ball_chain.png");
}

.icon-move {
	background-image: url("../images/icons/deck.png");
}

.icon-reflect {
	background-image: url("../images/icons/hand.png");
}

.icon-shield {
	background-image: url("../images/icons/shield.png");
}

.icon-show {
	background-image: url("../images/icons/eye.png");
}

/* backgrounds */

.blue-item {
	background-color: #829baf;
}

.blue-action {
	background-color: #5b7ea1;
}

.green-item {
	background-color: #6d8374;
}

.green-action {
	background-color: #4a5a50;
}

.ochre-item {
	background-color: #c18c6d;
}

.ochre-action {
	background-color: #c1762a;
}

.red-item {
	background-color: #9e6265;
}

.red-action {
	background-color: #7e383a;
}

/* common */

.card {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.card-header {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: row;
	font-family: "Ruslan Display";
	justify-content: center;
	position: relative;
	width: 100%;
}

.card-icon-container {
	border-bottom-right-radius: 100%;
	left: 1px;
	position: absolute;
	top: 1px;
}

.card-icon {
	background-position: center;
	background-repeat: no-repeat;
}

.card-category {
    margin: 0;
	text-align: center;
	z-index: 500;
}

.card-points {
    border-bottom-left-radius: 100%;
    line-height: 1;
    padding-right: 3px;
    position: absolute;
    right: 1px;
    text-align: right;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 1px;
}

.card-health {
	border-top-right-radius: 100%;
	left: 1px;
	line-height: 1;
	position: absolute;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card-footer {
	align-items: center;
	background-color: #cfbc9c;
	display: flex;
	justify-content: center;
}

.card-footer p {
	color: #763e3f;
	margin: 0;
	text-align: center;
}

/* OneHero (HeroSelection) */

.details-card {
	height: 294px;
	width: 210px;
}

.details-card-icon-container {
	height: 52px;
	width: 52px;
}

.details-card-icon {
	background-size: 30px 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	width: 30px;
}

.details-card-category {
	font-size: 26px;
}

.details-card-points {
    font-size: 52px;
    height: 52px;
    width: 52px;
}

.details-card-image {
	height: 179px;
	width: 182px;
}

.details-card-health {
	font-size: 52px;
    height: 52px;
    padding-left: 10px;
    padding-top: 14px;
    top: 155px;
    width: 52px;
}

.details-card-footer {
	height: 60px;
	margin-top: 10px;
	width: 182px;
}

.details-card-footer p {
	font-size: 26px;
	line-height: 26px;
	padding: 0 7px;
}

/* GameScreen */

.card-container {
	position: relative;
}

.card-container-size {
	background: transparent;
	height: 172px;
	min-width: 124px;
    padding: 2px;
    width: 124px;
}

.card-frame-wrapper {	
	left: 0;
	top: 0;
    position: absolute;
}

.item .card-frame-wrapper {
	top: -2px;
	left: -2px;
}

.card-place {
    margin-right: 26px;
}

.card-like {
    height: 168px;
    min-width: 120px;
    width: 120px;
}

.card-holder {
	opacity: 0.9;
	position: absolute;
	top: 4px;
    left: 4px;
}

.player-top .card-holder {
    transform: rotate(180deg);
}

.game-card-container {
    background: transparent;
    perspective: 1000px;
}

.game-card {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    width: 100%;
}

.player-top .card {
    transform: rotate(180deg);
}

.player-bottom .card {
    transform: rotate(0deg);
}

.player-top .card-flipped {
    transform: rotateX(180deg);
}

.player-bottom .card-flipped {
    transform: rotateY(-180deg);
}

.game-card-back,
.game-card-front {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.game-card-back {
    transform: rotateY(180deg);
}

.card-info {
    background: #fff;
    color: #000;
    height: 106px;
    margin: 10px auto 0;
    padding: 5px 10px;
    width: 104px;
}

.game-card-icon-container {
	height: 30px;
	width: 30px;
}

.game-card-icon {
	background-size: 16px 16px;
	height: 16px;
	margin-left: 3px;
	margin-top: 3px;
	width: 16px;
}

.game-card-category {
    font-size: 14px;
}

.suppress {
	padding-left: 1em;
}

.game-card-points {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.game-card-image {
    background-size: 100% 100%;
    height: 100px;
    margin: 0 auto;
    width: 104px;
}

.game-card-health {
	font-size: 30px;
    height: 30px;
    padding-left: 5px;
    padding-top: 8px;
    top: 86px;
    width: 30px;
}

.game-card-footer {
    height: 36px;
    margin: 6px auto 0;
    width: 104px;
}

.game-card-footer p {
    font-size: 15px;
    line-height: 15px;
    padding: 0 4px;
}


/*card frame animation*/

.card-frame {
	position: relative;
	z-index: 0;
	width: 124px;
	height: 172px;
     
     /*border-radius: 80px;*/
     overflow: hidden;
    /* padding: 5rem;*/
}
 .card-frame::before {
     content: '';
     position: absolute;
     z-index: -2;
     left: -50%;
     top: -50%;
     width: 200%;
     height: 200%;
     background-repeat: no-repeat;
     background-size: 50% 50%, 50% 50%;
     background-position: 0 0, 100% 0, 100% 100%, 0 100%;
     background-image: linear-gradient(#b74a45, #b74a45), linear-gradient(transparent,transparent), linear-gradient(#d53e33, #d53e33), linear-gradient(transparent, transparent);
     animation: rotate 4s linear infinite;
}
 .card-frame::after {
     content: '';
     position: absolute;
     z-index: -1;
     left: 6px;
     top: 6px;
     width: calc(100% - 12px);
     height: calc(100% - 12px);
     border-radius: 5px;
}
 
@keyframes rotate {
     100% {
         transform: rotate(1turn);
         }
}
