.card-chained {
    background-image: url("../images/chain.png");
    height: 168px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 100;
}

/* icons */

.icon-arrows {
	background-image: url("../images/icons/cycle_arrows.png");
}

.icon-attack {
	background-image: url("../images/icons/skull.png");
}

.icon-damage {
	background-image: url("../images/icons/heart_black.png");
}

.icon-heal {
	background-image: url("../images/icons/drop_r.png");
}

.icon-heart {
	background-image: url("../images/icons/heart_red.png");
}

.icon-hold {
	background-image: url("../images/icons/ball_chain.png");
}

.icon-move {
	background-image: url("../images/icons/deck.png");
}

.icon-reflect {
	background-image: url("../images/icons/hand.png");
}

.icon-shield {
	background-image: url("../images/icons/shield.png");
}

.icon-show {
	background-image: url("../images/icons/eye.png");
}

/* backgrounds */

.blue-item {
	background-color: #829baf;
}

.blue-action {
	background-color: #5b7ea1;
}

.green-item {
	background-color: #6d8374;
}

.green-action {
	background-color: #4a5a50;
}

.ochre-item {
	background-color: #c18c6d;
}

.ochre-action {
	background-color: #c1762a;
}

.red-item {
	background-color: #9e6265;
}

.red-action {
	background-color: #7e383a;
}

/* common */

.card {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.card-header {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: row;
	font-family: "Ruslan Display";
	justify-content: center;
	position: relative;
	width: 100%;
}

.card-icon-container {
	border-bottom-right-radius: 100%;
	left: 1px;
	position: absolute;
	top: 1px;
}

.card-icon {
	background-position: center;
	background-repeat: no-repeat;
}

.card-category {
    margin: 0;
	text-align: center;
	z-index: 500;
}

.card-points {
    border-bottom-left-radius: 100%;
    line-height: 1;
    padding-right: 3px;
    position: absolute;
    right: 1px;
    text-align: right;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 1px;
}

.card-health {
	border-top-right-radius: 100%;
	left: 1px;
	line-height: 1;
	position: absolute;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card-footer {
	align-items: center;
	background-color: #cfbc9c;
	display: flex;
	justify-content: center;
}

.card-footer p {
	color: #763e3f;
	margin: 0;
	text-align: center;
}

/* OneHero (HeroSelection) */

.details-card {
	height: 294px;
	width: 210px;
}

.details-card-icon-container {
	height: 52px;
	width: 52px;
}

.details-card-icon {
	background-size: 30px 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	width: 30px;
}

.details-card-category {
	font-size: 26px;
}

.details-card-points {
    font-size: 52px;
    height: 52px;
    width: 52px;
}

.details-card-image {
	height: 179px;
	width: 182px;
}

.details-card-health {
	font-size: 52px;
    height: 52px;
    padding-left: 10px;
    padding-top: 14px;
    top: 155px;
    width: 52px;
}

.details-card-footer {
	height: 60px;
	margin-top: 10px;
	width: 182px;
}

.details-card-footer p {
	font-size: 26px;
	line-height: 26px;
	padding: 0 7px;
}

/* GameScreen */

.card-container {
   position: relative;
}

.card-container-size {
	background: transparent;
	height: 172px;
	min-width: 124px;
    padding: 2px;    
    width: 124px;
}

.card-frame-wrapper {
    left: 0;
    position: absolute;
    top: 0;
}

.item .card-frame-wrapper {
    left: -2px;
    top: -2px;
}

.card-place {
    margin-right: 26px;
}

.card-like {
    height: 168px;
    min-width: 120px;
    width: 120px;
}

.card-holder {
    left: 4px;
    opacity: 0.9;
    position: absolute;
    top: 4px;
}


.player-top .card-holder {
    transform: rotate(180deg);
}

.game-card-container {   
    background: transparent;
    perspective: 1000px;    
}

.game-card {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    width: 100%;
}

/* card number 2 (shield)*/

.card-arrow-shield {
    position: absolute;
    height: 20px;
    width: 20px;
    /*background-color: #C8DF34;*/
    top: -95px;
    left: -10px;
/*    transition: all 2s;*/
    transform: rotate(-45deg);
    /*display: none;*/
}



/* path shield animation for tutorial */
@keyframes shield-odd-grow {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
  0% {
    transform: rotate(-45deg) scale(0);
  }
}

@keyframes shield-even-grow {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}


.indicator-shield {
  position: absolute;
  
  width: 15px;
  height: 15px;
  
  border-radius: 75% 0 75% 0;
  background: linear-gradient(to right, rgb(57,57,57), #b74a45);
}

.indicator-shield:nth-child(odd) {
  left: 50%;
  
  transform-origin: 0% 100%;
  animation-name: shield-odd-grow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.indicator-shield:nth-child(even) {  
  left: -50%;
  
  transform-origin: 50% 100%;
  animation-name: shield-even-grow;
  animation-duration: 4s;
  animation-iteration-count: infinite; 
  animation-fill-mode: both;
}

.indicator-shield:nth-child(1) {
  top: 5px;
  animation-iteration-count: infinite;
  animation-delay: 3.0s;
}

.indicator-shield:nth-child(2) {
  top: 25px;
  animation-iteration-count: infinite;
  animation-delay: 2.7s;
}

.indicator-shield:nth-child(3) {
  top: 45px;
  animation-iteration-count: infinite;
  animation-delay: 2.4s;
}

.indicator-shield:nth-child(4) {
  top: 65px;
  animation-iteration-count: infinite;
  animation-delay: 2.1s;
}

.indicator-shield:nth-child(5) {
  top: 85px;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}

/* path animation for tutorial 
card number 3 in hand (attack) */
.card-arrow {
    position: absolute;
    height: 20px;
    width: 20px;
    /*background-color: #C8DF34;*/
    top: -175px;
    left: 205px;
/*    transition: all 2s;*/
    transform: rotate(45deg);
    /*display: none;*/
}

/*
.card-like:active .card-arrow {
   top: -500px;
   left: 500px; 
   display: block;

}
*/

/* path attack animation for tutorial */
@keyframes leaf-odd-grow {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
  0% {
    transform: rotate(-45deg) scale(0);
  }
}

@keyframes leaf-even-grow {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}


.indicator-attack-opp {
  position: absolute;
  
  width: 15px;
  height: 15px;
  
  border-radius: 75% 0 75% 0;
  background: linear-gradient(to right, rgb(57,57,57), #b74a45);
}

.indicator-attack-opp:nth-child(odd) {
  left: 50%;
  
  transform-origin: 0% 100%;
  animation-name: leaf-odd-grow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.indicator-attack-opp:nth-child(even) {  
  left: -50%;
  
  transform-origin: 50% 100%;
  animation-name: leaf-even-grow;
  animation-duration: 4s;
  animation-iteration-count: infinite; 
  animation-fill-mode: both;
}

.indicator-attack-opp:nth-child(1) {
  top: 15px;
  animation-iteration-count: infinite;
  animation-delay: 3.0s;
}

.indicator-attack-opp:nth-child(2) {
  top: 25px;
  animation-iteration-count: infinite;
  animation-delay: 2.7s;
}

.indicator-attack-opp:nth-child(3) {
  top: 45px;
  animation-iteration-count: infinite;
  animation-delay: 2.4s;
}

.indicator-attack-opp:nth-child(4) {
  top: 65px;
  animation-iteration-count: infinite;
  animation-delay: 2.1s;
}

.indicator-attack-opp:nth-child(5) {
  top: 85px;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}

.indicator-attack-opp:nth-child(6) {
  top: 105px;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

.indicator-attack-opp:nth-child(7) {
  top: 125px;
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
}

.indicator-attack-opp:nth-child(8) {
  top: 145px;
  animation-iteration-count: infinite;
  animation-delay: 0.9s;
}

.indicator-attack-opp:nth-child(9) {
  top: 165px;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}

.indicator-attack-opp:nth-child(10) {
  top: 185px;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

.indicator-attack-opp:nth-child(11) {
  top: 205px;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}




/* path heal animation for tutorial */
.card-arrow-heal {
    position: absolute;
    height: 16px;
    width: 16px;
    /*background-color: #C8DF34;*/
    top: -8px;
    left:-80px;
/*    transition: all 2s;*/
    transform: rotate(-45deg);
    /*display: none;*/
}

@keyframes leaf-odd-grow {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
  0% {
    transform: rotate(-45deg) scale(0);
  }
}

@keyframes leaf-even-grow {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}


.indicator-heal {
  position: absolute;
  
  width: 15px;
  height: 15px;
  
  border-radius: 75% 0 75% 0;
  background: linear-gradient(to right, rgb(57,57,57), #b74a45);
}

.indicator-heal:nth-child(odd) {
  left: 50%;
  
  transform-origin: 0% 100%;
  animation-name: leaf-odd-grow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.indicator-heal:nth-child(even) {  
  left: -50%;
  
  transform-origin: 50% 100%;
  animation-name: leaf-even-grow;
  animation-duration: 4s;
  animation-iteration-count: infinite; 
  animation-fill-mode: both;
}

.indicator-heal:nth-child(1) {
  top: 0px;
  animation-iteration-count: infinite;
  animation-delay: 2.4s;
}

.indicator-heal:nth-child(2) {
  top: 20px;
  animation-iteration-count: infinite;
  animation-delay: 2.1s;
}

.indicator-heal:nth-child(3) {
  top: 40px;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}

.indicator-heal:nth-child(4) {
  top: 60px;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

.indicator-heal:nth-child(5) {
  top: 80px;
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
}



/*end of animation */ 

.player-top .card {
    transform: rotate(180deg);
}

.player-bottom .card {
    transform: rotate(0deg);
}

.player-top .card-flipped {
    transform: rotateX(180deg);
}

.player-bottom .card-flipped {
    transform: rotateY(-180deg);
}

.game-card-back,
.game-card-front {
    /* backface-visibility: hidden; */
    height: 100%;
    position: absolute;
    width: 100%;
}

.game-card-back {
    transform: rotateY(180deg);
}

.card-info {
    background: #fff;
    color: #000;
    height: 106px;
    margin: 10px auto 0;
    padding: 5px 10px;
    width: 104px;
}

.game-card-icon-container {
	height: 30px;
	width: 30px;
}

.game-card-icon {
	background-size: 16px 16px;
	height: 16px;
	margin-left: 3px;
	margin-top: 3px;
	width: 16px;
}

.game-card-category {
    font-size: 14px;
}

.suppress {
	padding-left: 1em;
}

.game-card-points {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.game-card-image {
    background-size: 100% 100%;
    height: 100px;
    margin: 0 auto;
    width: 104px;
}

.game-card-health {
	font-size: 30px;
    height: 30px;
    padding-left: 5px;
    padding-top: 8px;
    top: 86px;
    width: 30px;
}

.game-card-footer {
    height: 36px;
    margin: 6px auto 0;
    width: 104px;
}

.game-card-footer p {
    font-size: 15px;
    line-height: 15px;
    padding: 0 4px;
}

/*card frame animation*/

.card-frame {
    height: 172px;
    overflow: hidden;
    position: relative;
    width: 124px;
    z-index: 0;
}
.card-frame::before {
    animation: rotate 4s linear infinite;
    background-image: linear-gradient(#b74a45, #b74a45), linear-gradient(transparent,transparent), linear-gradient(#d53e33, #d53e33), linear-gradient(transparent, transparent);
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    content: '';
    height: 200%;
    left: -50%;
    position: absolute;
    top: -50%;
    width: 200%;
    z-index: -2;
}
.card-frame::after {
    border-radius: 5px;
    content: '';
    height: calc(100% - 12px);
    left: 6px;
    position: absolute;
    top: 6px;
    width: calc(100% - 12px);
    z-index: -1;
}

@keyframes rotate {
    100% { transform: rotate(1turn); }
}

/* Animation Clairvoyance */

.clairvoyance {
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;    
}

.upper {
    animation: topOnUpper 2s 1s ease-in-out infinite;
    left: 0;
	top: 0;
    z-index: 2;
}

.middle {
    animation: topOnMid 2s 1s ease-in-out infinite;
    left: 20px;
	top: 20px;
    z-index: 1;
}

.bottom {
    animation: topOnLower 2s 1s ease-in-out infinite;
    left: 40px;
	top: 40px;
	z-index: 0;
}

@keyframes topOnUpper {
    5% {
        left: 20px;
        top: 20px;
        transform: translateY(-50px);
        z-index: 1;
    }
    10% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    40% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    50% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    70% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    80% {
        left: 0;
        top: 0;
        transform:  translateY(0);
        z-index: 2;
    }
}

@keyframes topOnMid {
    10% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    40% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    45% {
        left: 20px;
        top: 20px;
        transform: translateY(-50px);
        z-index: 1;
    }
    50% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    70% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    80% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
}

@keyframes topOnLower {
    10% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 0;
    }
    40% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    50% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    70% {
        left: 0;
        top: 0;
        transform: ranslateY(0);
        z-index: 2;
    }
    75% {
        left: 20px;
        top: 20px;
        transform: translateY(-50px);
        z-index: 1;
    }
    80% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
}

/*Animation for Malachite box - bat card attaks opponent*/

.item-attacks {
    animation: attackOpponent 2s ease-out forwards;
    margin-left: 444px;
    perspective: 100px;
    z-index: 20;
}

.player-top .bat-img {
    transform: rotate(180deg);
}

@keyframes attackOpponent {
    0% { 
        opacity: 0;
        transform: rotateX(45deg) translateX(0px) translateY(0px);
        transform-style: preserve-3d;
        }
    20% {
        opacity: 0.4; 
        transform: rotateX(45deg) translateX(0px) translateY(0px);        
        }
    100%    { transform: translateX(560px) translateY(-200px) }
}

/*fix item-attacks bat card's position for bottom player*/
.player-bottom .item-attacks {
    animation: attackOpponentTop 2s ease-in infinite;
    margin-bottom: -200px;
    margin-left: 800px;
    perspective: 100px;
    z-index: 2000;
}

@keyframes attackOpponentTop {
    0% { 
        opacity: 0;
        transform: rotateX(45deg) translateX(10px) translateY(-250px);               
        }
    20% {
        opacity: 0.4; 
        transform: rotateX(45deg) translateX(0px) translateY(-250px);          
        }
    100%    { transform: translateX(-560px) translateY(30px) }
}


/*Animation deck to hand first deal*/
.card-back {
    position: absolute;
    transform: rotateY(-180deg);

}

.player-top .card-back {
    transform: rotateX(180deg);
}

.animated-card {
    animation-direction:alternate-reverse; 
    animation-fill-mode: backwards;        
}

.animated-card-0 {
    animation: deckToHand-0 3s ease-in;       
}

.animated-card-1 {
    animation: deckToHand-1 3s ease-in;    
}

.animated-card-2 {
    animation: deckToHand-2 3s ease-in;    
}

.animated-card-3 {
    animation: deckToHand-3 3s ease-in;    
}

.animated-card-4 {
    animation: deckToHand-4 3s ease-in;    
}

.card-animation-delay-0 {
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

.card-animation-delay-1 {
    animation-delay: 0.5s;
    animation-fill-mode: backwards;    
}

.card-animation-delay-2 {
    animation-delay: 1s;
}

.card-animation-delay-3 {
    animation-delay: 1.5s;
}

.card-animation-delay-4 {
    animation-delay: 2s;
}

@keyframes deckToHand-0 {
    0% { 
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(407px) translateY(4px);
        transform-style: preserve-3d;
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-1 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(552px) translateY(4px);
        transform-style: preserve-3d;
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-2 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(697px) translateY(4px);
        transform-style: preserve-3d;
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-3 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(842px) translateY(4px);
        transform-style: preserve-3d;
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-4 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(987px) translateY(4px);
        transform-style: preserve-3d;
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}
