/* game table */

.game-table {
    background-image: url(../images/game-background.png);
}

.player-active .card,
.player-active .deck,
.player-active .item,
.player-active .grave {
    border: 3px solid #fff;
}

.player-inactive .card,
.player-inactive .deck,
.player-inactive .item,
.player-inactive .grave {
    border: 3px solid #000;
}

/* player */

.player {
    height: 50%;
    width: 100%;
}

.player-top  {
    position: absolute;
    top: 0;
    transform: rotate(180deg);
}

.player-bottom  {
    bottom: 0;
    position: absolute;
    transform: rotate(0deg);
}

/* hero */

.hero {
    border-radius: 50%;
    bottom: 180px;
    display: inline-block;
    height: 220px;
    left: 200px;
    position: absolute;
    width: 220px;
}

.player-top .hero {
    transform: rotate(180deg);
}

.player-bottom .hero {
    transform: rotate(0deg);
}

.hero-image {
    border-radius: 50%;
    filter: invert(.2) sepia(1);
}

.hero-health {
    left: 0;
    position: absolute;
}

.player-active .hero-health circle {
    stroke: #fff;
}

.hero-health-points {
    stroke: #b74a45;
}

.heart {
    bottom: -12px;
    height: 25px;
    left: 50%;
    position: absolute;
    width: 25px;
}

.heart-text {
    font-size: 24px;
}

/* item */

.item {
    left: 444px;
    opacity: .5;
    position: absolute;
}

.green {
    background-color: #6D8374;
}

.red {
    background-color: #A36264;
}

/* hand */

.hand {
    bottom: 22px;
    display: flex;
    left: 442px;
    position: absolute;
    width: 680px;
}

/* card-place */

.card-place {
    /*background-color: rgb(211, 226, 243);
    background-color: rgba(211, 226, 243, 0.55);*/
    margin-right: 26px;
}

/* card */

.card {
    background-color: #fff;
    transform: rotate(0);
    width: 120px;
}

.card-like {
    height: 168px;
    width: 120px;
}

.player-top .card {
    transform: rotate(180deg);
}

.player-bottom .card {
    transform: rotate(0deg);
}

.card-name {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    padding-top: 6px;
    text-align: center;
}

.game-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    -webkit-filter: drop-shadow(0 0 2px #fff);
    filter: drop-shadow(0 0 2px #fff);
    height: 40px;
    position: absolute;
    right: -18px;
    top: -14px;
    width: 40px;
}
.game-icon-text {
    align-items: center;
    display: flex;
    font-size: 28px;
    justify-content: center;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.game-icon-text p {
    line-height: 30px;
    margin: 0;
}

/* deck */

.deck {
    background-color: #97abb8;
    bottom: 27px;
    display: inline-block;
    left: 35px;
    position: absolute;
}

.deck-green {
    background-image: url(../images/back-green.jpg);
    background-size: cover;
}

.deck-red {
    background-image: url(../images/back-red.jpg);
    background-size: cover;
}

/* graveyard */

.grave {
    bottom: 27px;
    display: inline-block;
    position: absolute;
    right: 35px;
}

.player-top .grave {
    transform: rotate(180deg);
}

.player-top .deck {
    transform: rotate(180deg);
}

.player-botttom .grave {
    right: 105px;
    transform: rotate(0deg);
}

.grave-name {
    color: black;
    font-size: 24px;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.count {
    bottom: 0;
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.target {
    box-shadow: 0 0 15px 7px #b74a45;
    transition: box-shadow 1s;
}

/* game over */

.gameover {
    align-items: center;
    background: rgb(33, 33, 33);
    background: rgba(33, 33, 33, .75);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.gameover-message {
    color: #fff;
    font-size: 48px;
    text-shadow: 0 0 32px #B74A45;
    text-transform: uppercase;
}