/* game table */

/* .game-table {
} */

/* .player-active .card,
.player-active .deck,
.player-active .item,
.player-active .grave {
    border: 3px solid #fff;
}

.player-inactive .card,
.player-inactive .deck,
.player-inactive .item,
.player-inactive .grave {
    border: 3px solid #000;
} */

/* player */

.player {
    height: 50%;
    width: 100%;
}

.player-top  {
    position: absolute;
    top: 0;
    transform: rotate(180deg);
}

.player-bottom  {
    bottom: 0;
    position: absolute;
    transform: rotate(0deg);
}

/* hero */

.player-inactive .hero-image {
    filter: grayscale(100%);
}

.hero {
    border-radius: 50%;
    bottom: 180px;
    display: inline-block;
    height: 220px;
    left: 200px;
    position: absolute;
    width: 220px;
}

.player-top .hero {
    transform: rotate(180deg);
}

.player-bottom .hero {
    transform: rotate(0deg);
}

.hero-image {
    border-radius: 50%;
}

.hero-health {
    left: 0;
    position: absolute;
}

.player-active .hero-health circle {
    stroke: #fff;
}

.hero-health-points {
    stroke: #b74a45;
}

.hero-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    bottom: -24px;
    -webkit-filter: drop-shadow(0 0 3px #000);
    filter: drop-shadow(0 0 3px #000);
    height: 50px;
    position: absolute;
    right: 76px;
    width: 50px;
}

.player-active .hero-icon {
    -webkit-filter: drop-shadow(0 0 3px #fff);
    filter: drop-shadow(0 0 3px #fff);
}

.hero .game-icon-text {
    align-items: center;
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* item */

.item {
    left: 444px;
    position: absolute;
}

.blue {
    background-color: rgb(130, 155, 175);
    background-color: rgba(130, 155, 175, .5); /*#829baf*/
}

.green {
    background-color: rgb(109, 131, 116);
    background-color: rgba(109, 131, 116, .5); /*#6D8374*/
}

.ochre {
    background-color: rgb(193, 140, 109);
    background-color: rgba(193, 140, 109, .5); /*#C18C6D*/
}

.red {
    background-color: rgb(163, 98, 100);
    background-color: rgba(163, 98, 100, .5); /*#A36264*/
}

/*fix card-in-item's position for bottom player*/
.player-bottom .item .card {
    transform: rotate(0deg) translate(-3px, -3px);
}

/*fix card-in-item's position for top player*/
.player-top .item .card {
    transform: rotate(180deg) translate(3px, 3px);
}

/* hand */

.hand {
    bottom: 22px;
    display: flex;
    left: 442px;
    position: absolute;
    width: 680px;
}


/* card-place */

.card-place {
    /*background-color: rgb(211, 226, 243);
    background-color: rgba(211, 226, 243, 0.55);*/
    margin-right: 26px;
}

/* deck */

.deck {
    background-color: #97abb8;
    bottom: 27px;
    display: inline-block;
    left: 35px;
    position: absolute;
}

.deck-blue {
    background-image: url(../images/back-blue.jpg);
    background-size: cover;
}

.deck-green {
    background-image: url(../images/back-green.jpg);
    background-size: cover;
}

.deck-ochre {
    background-image: url(../images/back-ochre.jpg);
    background-size: cover;
}

.deck-red {
    background-image: url(../images/back-red.jpg);
    background-size: cover;
}

.player-top .deck {
    transform: rotate(180deg);
}


/* graveyard */

.grave {
    bottom: 27px;
    display: inline-block;
    position: absolute;
    right: 35px;
}

.grave-blue {
    background-color: rgb(130, 155, 175); /*#829baf*/
    
}

.grave-green {
    background-color: rgb(109, 131, 116); /*#6D8374*/
    
}

.grave-ochre {
    background-color: rgb(193, 140, 109); /*#C18C6D*/
    
}

.grave-red {
    background-color: rgb(163, 98, 100); /*#A36264*/
    
}

.player-top .grave {
    transform: rotate(180deg);
}

.player-botttom .grave {
    right: 105px;
    transform: rotate(0deg);
}

.grave-name {
    color: black;
    font-size: 24px;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.count {
    bottom: 25%;
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.target {
    animation: target 1s ease-out infinite;
}

@keyframes target {
    0% {
        box-shadow: 0 0 0 0 #b74a45;
    }
    30% {
        box-shadow: 0 0 15px 7px #b74a45;
    }
    100% {
        box-shadow: 0 0 30px 14px #b74a45;
    }
}

/* game over */

.gameover {
    align-items: center;
    background: rgb(33, 33, 33);
    background: rgba(33, 33, 33, .75);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.gameover-message {
    color: #fff;
    font-size: 48px;
    text-shadow: 0 0 32px #B74A45;
    text-transform: uppercase;
}

/* turn change */

@keyframes turn {
    from {opacity: 1;}
    to {opacity: 0;}
}

.changeturn {
    align-items: center;
    animation-duration: 3s;
    animation-name: turn;
    animation-timing-function: ease-in;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    z-index: 100;
}

.changeturn-message {
    background: rgb(33, 33, 33);
    background: rgba(33, 33, 33, .75);
    color: #fff;
    font-size: 48px;
    padding: 10px 20px;
    text-shadow: 0 0 32px #B74A45;
    text-transform: capitalize;
}

/* bird animation */

.animation-game-screen {
    margin-top: 200px;
    min-height: 125px;
    position: relative;
    z-index: -1;
}

.bird-container {
    left: -10%;
    position: absolute;
    top: 20%;
    transform: scale(0) translateX(-10vw) translateY(50vh);
    will-change: transform;
}

.bird-container-one {
    animation: flying 9s linear 0s;
}

.bird-container-two {
    animation: flying 8s linear 1s;
}

.bird-container-three {
    animation: flying 7s linear 2s;
}

@keyframes flying {
    0% {
        transform: translateY(50vh) translateX(-10vw) scale(0.3);
    }
    15% {
        transform: translateY(30vh) translateX(10vw) scale(0.4);
    }
    30% {
        transform: translateY(30vh) translateX(30vw) scale(0.6);
    }
    45% {
        transform: translateY(20vh) translateX(50vw) scale(0.6);
    }
    60% {
        transform: translateY(14vh) translateX(70vw) scale(0.6);
    }
    75% {
        transform: translateY(7vh) translateX(90vw) scale(0.6);
    }
    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}

.bird {
    background-image: url(../images/animation/bird.svg);
    background-size: auto 100%;
    height: 63px;
    width: 44px;
    will-change: background-position;
}

.bird-one {
    animation: fly-cycle 1.25s steps(10) -0.25s infinite;
}

.bird-two {
    animation: fly-cycle 1s steps(10) -0.5s infinite;
}

.bird-three {
    animation: fly-cycle 1.1s steps(10) -0.75s infinite;
}

@keyframes fly-cycle {
    100% {
        background-position: -450px 0;
    }
}

/*cards shuffle animation*/

.stack {
    bottom: 60px;
    display: inline-block;
    position: relative;
    right: 40px;
}

.player-top .stack {
    right: -135px;
    top: 167px;
    transform: rotate(180deg);
}

.one {
    animation: onTop 2s ease-out 1 forwards;
    left: 0;
	top: 0;
	z-index: 2;
}

.two {
    animation: onMiddle 2s ease-out 1 forwards;
    left: 20px;
	top: 20px;
	z-index: 1;
}
.three {
    animation: onBottom 2s ease-out 1 forwards;
    left: 40px;
	top: 40px;
	z-index: 0;
}

.player-top .one {
    animation: topOnTop 2s ease-out 1 forwards;
}

.player-top .two {
    animation: topOnMiddle 2s ease-out 1 forwards;
}
.player-top .three {
    animation: topOnBottom 2s ease-out 1 forwards;
}

/* grave cards animation for bottom player */

@keyframes onTop {
    3% {
      left: 20px;
      top: 20px;
      transform: translateY(-30px);
      z-index: 1;
    }
    5% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    10% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    20% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    30% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    40% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    45% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(-1150px);
    }
}

@keyframes onMiddle {
    5% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    10% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    15% {
        left: 20px;
        top: 20px;
        transform: translateY(-30px);
        z-index: 1;
    }
    20% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    30% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    40% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    55% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 1;
    }
    100% {
        transform: translateX(-1170px);
    }
}

@keyframes onBottom {
    5% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 0;
    }
    10% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    20% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    30% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    35% {
        left: 20px;
        top: 20px;
        transform: translateY(-30px);
        z-index: 1;
    }
    40% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    65% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 0;
    }
    100% {
        transform: translateX(-1190px);
    }
}

/* grave cards animation for top player */

@keyframes topOnTop {
    3% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(-30px);
        z-index: 1;
    }
    5% {
        left: 40px;
        top: 40px;
        transform: rotate(180deg) translateY(0);
        z-index: 0;
    }
    10% {
        left: 40px;
        top: 40px;
        transform: rotate(180deg) translateY(0);
        z-index: 0;
    }
    20% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(0);
        z-index: 1;
    }
    30% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(0);
        z-index: 1;
    }
    40% {
        left: 0;
        top: 0;
        transform: rotate(180deg) translateY(0);
        z-index: 2;
    }
    45% {
        transform: rotate(180deg) translateY(0);
    }
    100% {
        transform: rotate(180deg) translateX(1150px);
    }
}

@keyframes topOnMiddle {
    5% {
        left: 0;
        top: 0;
        transform: rotate(180deg) translateY(0);
        z-index: 2;
    }
    10% {
        left: 0;
        top: 0;
        transform: rotate(180deg) translateY(0);
        z-index: 2;
    }
    15% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(-30px);
        z-index: 1;
    }
    20% {
        left: 40px;
        top: 40px;
        transform: rotate(180deg) translateY(0);
        z-index: 0;
    }
    30% {
        left: 40px;
        top: 40px;
        transform: rotate(180deg) translateY(0);
        z-index: 0;
    }
    40% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(0);
        z-index: 1;
    }
    55% {
        left: 0;
        top: 0;
        transform: rotate(180deg) translateY(0);
        z-index: 1;
    }
    100% {
        transform: rotate(180deg) translateX(1170px);
    }
}

@keyframes topOnBottom {
    5% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(0);
        z-index: 0;
    }
    10% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(0);
        z-index: 1;
    }
    20% {
        left: 0;
        top: 0;
        transform: rotate(180deg) translateY(0);
        z-index: 2;
    }
    30% {
        left: 0;
        top: 0;
        transform: rotate(180deg) translateY(0);
        z-index: 2;
    }
    35% {
        left: 20px;
        top: 20px;
        transform: rotate(180deg) translateY(-30px);
        z-index: 1;
    }
    40% {
        left: 40px;
        top: 40px;
        transform: rotate(180deg) translateY(0);
        z-index: 0;
    }
    65% {
        left: 0;
        top: 0;
        transform: rotate(180deg) translateY(0);
        z-index: 0;
    }
    100% {
        transform: rotate(180deg) translateX(1190px);
    }
}

.game-screen-animation {
    animation: moveScreen 1s linear 1 forwards;
    background-image: url("../images/backgrounds/animation2.png");
    background-repeat: no-repeat;
	height: 768px;
}

/* Animation Turning Potion */
/*once attacked by turning potion inactive player's hand get this css property*/
.no-hand {
	filter: opacity(0%);
}
.hand-await {
    animation: noHand 2s;
}

@keyframes noHand {
    0%      { filter: opacity(0%); }
    100%     { filter: opacity(0%) }
}

.hand-await {
    animation: noHand 2s;
}

@keyframes noHand {
    0%      { filter: opacity(0%) }
    100%     { filter: opacity(0%) }
}

.card-hand {
    animation: toHand 2s ease-in reverse;
    z-index: 1000;
}

/* Animation Turning Potion for bottom player */

@keyframes toHand {
    0%      { transform: translateX(0px) translateY(0px); }
    100%     { transform: translateX(-220px) translateY(-555px); }
}

/* Animation Clairvoyance */

.clairvoyance {
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;    
}

.upper {
    animation: topOnUpper 2s 1s ease-in-out infinite;
    left: 0;
	top: 0;
    z-index: 2;
}

.middle {
    animation: topOnMid 2s 1s ease-in-out infinite;
    left: 20px;
	top: 20px;
    z-index: 1;
}

.bottom {
    animation: topOnLower 2s 1s ease-in-out infinite;
    left: 40px;
	top: 40px;
	z-index: 0;
}

@keyframes topOnUpper {
    5% {
        left: 20px;
        top: 20px;
        transform: translateY(-50px);
        z-index: 1;
    }
    10% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    40% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    50% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    70% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    80% {
        left: 0;
        top: 0;
        transform:  translateY(0);
        z-index: 2;
    }
}

@keyframes topOnMid {
    10% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    40% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    45% {
        left: 20px;
        top: 20px;
        transform: translateY(-50px);
        z-index: 1;
    }
    50% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    70% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
    80% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
}

@keyframes topOnLower {
    10% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 0;
    }
    40% {
        left: 20px;
        top: 20px;
        transform: translateY(0);
        z-index: 1;
    }
    50% {
        left: 0;
        top: 0;
        transform: translateY(0);
        z-index: 2;
    }
    70% {
        left: 0;
        top: 0;
        transform: ranslateY(0);
        z-index: 2;
    }
    75% {
        left: 20px;
        top: 20px;
        transform: translateY(-50px);
        z-index: 1;
    }
    80% {
        left: 40px;
        top: 40px;
        transform: translateY(0);
        z-index: 0;
    }
}

/*Animation for Malachite box - bat card attaks opponent*/

.item-attacks {
    animation: attackOpponent 2s ease-out forwards;
    margin-left: 444px;
    perspective: 100px;
    z-index: 20;
}

.player-top .bat-img {
    transform: rotate(180deg);
}

@keyframes attackOpponent {
    0% { 
        opacity: 0;
        transform: rotateX(45deg) translateX(0px) translateY(0px);
        transform-style: preserve-3d;
        }
    20% {
        opacity: 0.4; 
        transform: rotateX(45deg) translateX(0px) translateY(0px);        
        }
    100%    { transform: translateX(560px) translateY(-200px) }
}

/*fix item-attacks bat card's position for bottom player*/
.player-bottom .item-attacks {
    animation: attackOpponentTop 2s ease-in infinite;
    margin-bottom: -200px;
    margin-left: 800px;
    perspective: 100px;
    z-index: 2000;
}

@keyframes attackOpponentTop {
    0% { 
        opacity: 0;
        transform: rotateX(45deg) translateX(10px) translateY(-250px);               
        }
    20% {
        opacity: 0.4; 
        transform: rotateX(45deg) translateX(0px) translateY(-250px);          
        }
    100%    { transform: translateX(-560px) translateY(30px) }
}


/*Animation deck to hand first deal*/
.card-back {
    opacity: 0.9;
    position: absolute;
    transform: rotateY(180deg);
       
}

.player-top .card-back {
    transform: rotateX(180deg);
}

.animated-card-0 {
    animation: deckToHand-0 3s ease-in;
    animation-direction:alternate;
    animation-fill-mode: backwards;
    transform-style: preserve-3d;   
}

.animated-card-1 {
    animation: deckToHand-1 3s ease-in;
    animation-direction:alternate;
    animation-fill-mode: backwards;    
    transform-style: preserve-3d;
}

.animated-card-2 {
    animation: deckToHand-2 3s ease-in;
    animation-direction:alternate;
    animation-fill-mode: backwards;   
    transform-style: preserve-3d;
}

.animated-card-3 {
    animation: deckToHand-3 3s ease-in;
    animation-direction:alternate;
    animation-fill-mode: backwards;   
    transform-style: preserve-3d;
}

.animated-card-4 {
    animation: deckToHand-4 3s ease-in;
    animation-direction:alternate;
    animation-fill-mode: backwards;
    transform-style: preserve-3d;
}

.card-animation-delay-0 {
    animation-delay: 0s;
}

.card-animation-delay-1 {
    animation-delay: 0.5s;
}

.card-animation-delay-2 {
    animation-delay: 1s;
}

.card-animation-delay-3 {
    animation-delay: 1.5s;
}

.card-animation-delay-4 {
    animation-delay: 2s;
}

@keyframes deckToHand-0 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(407px) translateY(4px);
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-1 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(552px) translateY(4px);
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-2 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(697px) translateY(4px);
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-3 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(842px) translateY(4px);
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}

@keyframes deckToHand-4 {
    0% {
        transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(987px) translateY(4px);
      }
    40% {
        transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
      }
    100% {transform: translate(0, 0)}
}