button {
	background: none;
	border: 2px solid transparent;
	color: #fff;
	font-family: inherit;
	font-size: inherit;
	outline: none;
}

/* container */

.heroselection-container {
	background: transparent url(../images/background.png) center no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	min-width: 800px;
	position: fixed;
	right: 0;
	top: 0;
}

/* header */

.heroselection-header {
	background: #000;
	display: inline-block;
	height: 5em;
	opacity: .5;
	text-align: center;
	width: 100%;
}

.heroselection-header-menu {
	cursor: default;
	display: inline-block;
	font-size: 1.5em;
	margin: 0 2em;
	position: relative;
	text-align: center;
    top: 40%;
	user-select: none;
}

.heroselection-title {
	float: left;
}

.heroselection-nav-menu span {
	position: relative;
	top: -2px;
}

.btn-nav-menu {
	height: 22px;
}

.btn-nav-menu:hover {
	border-color: #B74A45;
}

.btn-hero {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
    padding: 3px;
}

.btn-hero-left {
	transform: rotate(135deg);
}

.btn-hero-right {
	transform: rotate(-45deg);
}

.heroselection-char-details {
	float: right;
}

/* main */

.heroselection-main {
	padding: 0 2em;
	width: 100%;
}

.hero-block {
	background-color: #000;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin: .5em;
}

.hero-block .btn-character {
	border: 5px solid #fff;
	height: 270px;
	margin: 0;
	padding: 0;
	position: relative;
}

.hero-block .btn-character:hover,
.hero-block .btn-character:focus {
	border-color: #B74A45;
}

.hero-block .btn-character-info {
	background-color: #fff;
	border-style: none;
	color: #000;
	display: none;
	font-size: 1.5em;
	height: 45px;
	margin: 0 0 0 0.64em;
	padding: 0;
	width: 220px;
}

.hero-block .btn-character-info:hover,
.hero-block .btn-character-info:focus {
	background-color: #B74A45;
}

.hero-image {
	height: 260px;
	object-fit: cover;
	width: 220px;
}

/* inactive hero properties */

.hero-inactive .btn-character {
	opacity:0.5;
}

.hero-inactive .btn-character:hover::after {
	background: url(../images/lock-shield.png) transparent no-repeat;
	background-size: cover;
    bottom: 0;
    content: '';
	height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
	z-index: 999;
}

/* hero details screen */

.hero-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-details-title {
	text-align: center;
}

.hero-details img {
	margin:auto;
}

.hero-details-btn-block {
	display: flex;
	justify-content: center;
}

.hero-details-btn-block button {
	background-color: #fff;
	border-style: none;
	color: #000;
	flex: none; 	
	font-size: 1.5em;
	height: 45px;
	margin-right: 0.1em;
	margin-top: 0.1em;
	width: 15%;
}

.hero-details-btn-block button:hover,
.hero-details-btn-block button:focus {
	background-color: #B74A45;
}

/* Pop-up element */

.hero-info {
	background-color: #899591;
	border-radius: 10px;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 50%;
	padding: 0 1.1em 0.2em;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 380px;
}

.hero-info .btn-close {
	background-color: #899591;
	border: none;
	color: #000;
	font-size: 1.4em;
	padding: 0;
	position: absolute;
	right: 15px;  	
	top: 15px;	
}

.hero-info p {
	font-size: 1.3em;
	padding: 0 1em;
}

/* footer */

.heroselection-footer {
	background: #000;
	bottom: 0;
	display: inline-block;
	height: 3em;
	opacity: .5;
	position: fixed;
	text-align: center;
	width: 100%;
}

.heroselection-footer-menu {
	cursor: default;
	display: inline-block;
	font-size: 1.5em;
	margin: 0 2em;
	position: relative;
	text-align: center;
    top: 20%;
	user-select: none;
}

.heroselection-play {
	margin: 0 auto;
}

.btn-play:hover {
	border-color: #B74A45;
}
