/* list of heroes */

.image {
	height: 260px;
	object-fit: cover;
	width: 220px;
}

/* hero details (OneHero) screen */

.main {
	padding: 0 2em;
	width: 100%;
}

.details {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.5);
    /*bottom: 0;
	left: 0;
	padding: 1em;
	position: absolute;
	right: 0;
	top: 0; */
	padding: 1em 2em;
	width: 100%;
}
