body {
	cursor: default;
	min-width: 1024px;
	user-select: none;
	font-family: Sedanc CS;
}

button {
	background: none;
	border: 2px solid transparent;
	color: antiquewhite;
	font-family: 'Sedan SC';
	font-size: inherit;
	margin: 0;
	outline: none;
	padding: 0;
}

article,
body, 
div, 
section {
	box-sizing: border-box;
}

/* container */

.container-root {
	background: transparent url(../images/background.png) center no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

/* common */

.btn {
	color: antiquewhite;
	outline: none;
}

.btn:focus,
.btn:hover {
	color: #B74A45;
	text-shadow: 0 0 3px #B74A45;
}

.btn:active {
	color: antiquewhite;
	text-shadow: 0 0 7px #B74A45;
}

/* header */

.section-header {
	background-color: rgba(0,0,0,0.5);
	display: inline-block;
	height: 5rem;
    left: 0;
	position: fixed;
    right: 0;
	text-align: center;
    top: 0;
	width: 100%;
}

.header-menu {
	font-size: 24px; /* 1.5rem;*/
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 2rem;
}

.hero-select-title {
	left: 2rem;
}

.hero-nav-menu {
    left: 40%;
	right: 40%;
}

.hero-nav-menu-name {
	left: 50%;
	position: fixed;
	text-align: center;
	transform: translateX(-50%);
	/*width: 14rem;*/
}

.hero-nav-menu-btn {
	display: inline-block;
	vertical-align: middle;
}

.hero-btn-arrow {
	position: relative;
	top: -.35rem;
	transform: scale(.5, 3);
}

.hero-btn-arrow-left {
	left: -7rem;
}

.hero-btn-arrow-right {
	right: -7rem;
}

/* main */

.section-main {
	bottom: 3rem;
	left: 0;
	position: fixed;
	right: 0;
    top: 5rem;
}

/* footer */

.section-footer {
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	height: 3rem;
	left: 0;
	position: fixed;
	right: 0;
	z-index: -1; /* for buttons injection */
}

.footer-menu {
	bottom: .5rem;
	font-size: 24px; /*1.5rem;*/
	position: absolute;
	text-align: center;
	
}

.btn-play {
	left: 40%;
	right: 40%;
}

.heroselection-play {
	margin: 0 10em 0 -5em;	
}

.btn-play:hover {
	border-color: #B74A45;
}

.btn-start-screen:hover {
	border-color: #B74A45;
}

/* list of heroes */

.heroes-list {
	padding: 1em 2em;
	width: 100%;
}

.hero-block {
	background-color: antiquewhite;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin: .5em;
}

.btn-hero {
	border: 5px solid antiquewhite;
	height: 270px;
	position: relative;
}

.btn-hero-selected {
	border-color: #B74A45;
}

.btn-hero:hover,
.btn-hero:focus {
	/* border-color: #B74A45; */
}

.btn-hero-info {
	background-color: antiquewhite;
	display: none;
}

.btn-hero-info:hover,
.btn-hero-info:focus {
	background-color: #B74A45;
}
.hero-image {
	height: 260px;
	object-fit: cover;
	width: 220px;
}
.hero-name {
	display: none;
}

.btn-hero:focus .hero-name,
.btn-hero:hover .hero-name {
	display: inline-block;
	left: 43%;
	position: fixed;
	right: 43%;
	width: 14rem;
}

.btn-hero-details {
	position: fixed;
	right: 2rem;
}

/* inaccessable hero properties */

.hero-inaccessable .btn-hero {
	opacity:0.5;
}

.hero-inaccessable .btn-hero:hover::after {
	/*background: url(../images/lock-shield.png) transparent no-repeat;*/
	background-size: cover;
    bottom: 0;
    content: '';
	height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
	/* z-index: 999; */
}


/* Pop-up element */

.hero-info {
	background-color: #899591;
	border-radius: 10px;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 50%;
	padding: 0 1.1em 0.2em;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 380px;
}

.hero-info .btn-close {
	background-color: #899591;
	border: none;
	color: #000;
	font-size: 1.4em;
	padding: 0;
	position: absolute;
	right: 15px;  	
	top: 15px;	
}

.hero-info p {
	font-size: 1.3em;
	padding: 0 1em;
}


/* hero details (OneHero) screen */

.details {
	background-color: rgba(255,255,255,0.5);
    bottom: 0;
	left: 0;
	padding: 1em;
	position: absolute;
	right: 0;
    top: 0;
}

.details-hero {
	bottom: 0;
	left: 0;
	margin: auto 0;
	position: absolute;
	top: 0;
	width: 35%;
}

.details-hero-avatar {
	height: 35rem;
	bottom: 1rem;
	left: 5rem;
	position: absolute;
	right: 1rem;
	width: 10rem;
}

.details-hero-avatar img {
	height: 100%;
    object-fit: cover;
    width: fit-content;
}

.btn-back, 
.btn-start-screen {
	left: 2rem;
	position: fixed;
}

.btn-select {
	display: none;
}

/* details information block */

.details-info-block {
	bottom: 0;
	position: absolute;
    right: 0;
	top: 0;
	width: 65%;
}

.details-description {
	bottom: 25rem;
	color: #000;
	font-size: 22px;
	height: 12rem;
	position: absolute;
	padding: 2rem;
}

.details-cards {
	bottom: 1rem;
	position: absolute;
	right: 9rem;
}

.details-card {
	height: 22rem;
	margin-left: 1rem;
	object-fit: cover;
	width: 15.7rem;
}

.details-card:last-of-type {
	margin-right: 1rem;
}

.cards-btn {
	bottom: 10rem;
	position: absolute;
	text-shadow: 0 0 3px #B74A45;
    transform: scale(2,10);
}

.cards-btn-left {
	left: -2rem;
}

.cards-btn-right {
	right: -2rem;
}
