.HeroSelection {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.HeroBlockInactive {
	opacity:0.5;
}

h3 {
	flex: 2 100%;
	font-size: 1.5em;
  text-align: center;
}

button {
	outline: none;
}

.HeroBlock,
.HeroBlockInactive {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.HeroBlock .CharButton,
.HeroBlockInactive .CharButton {
	border: 2px solid #fff;
	height: 376px;
	margin: 0 1em;
	padding: 0;
}

.HeroBlock .CharButton:hover,
.HeroBlock .CharButton:focus {
	border: 2px solid #B74A45;
}

.HeroBlock .InfoButton,
.HeroBlockInactive .InfoButton {
	background-color: #fff;
	border-style: none;
	color: #000;
	font-size: 1.5em;
	height: 45px;
	margin: 0 0 0 0.64em;
	padding: 0;
	width: 390px;
}

.OneHero {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.OneHero img {
	margin:auto;
}

.OneHero div {
	display: flex;
	justify-content: center;
}

.OneHero button {
	background-color: #fff;
	border-style: none;
	color: #000;
	flex: none; 	
	font-size: 1.5em;
	height: 45px;
	margin-right: 0.1em;
	margin-top: 0.1em;
	width: 15%;
}

.HeroBlock .InfoButton:hover,
.HeroBlock .InfoButton:focus,
.OneHero button:hover,
.OneHero button:focus {
	background-color: #B74A45;
}

/* Pop-up element */

.HeroDetails {
	background-color: #899591;
	border-radius: 10px;
	color: #000;
	display: flex;
	flex-direction: column;
	/*height: 220px;*/
	justify-content: center;
	left: 50%;
	padding: 0 1.1em 0.2em;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 380px;
}

.HeroDetails .CloseButton {
	background-color: #899591;
	border: none;
	color: #000;
	font-size: 1.4em;
	padding: 0;
	position: absolute;
	right: 15px;  	
	top: 15px;	
}

.HeroDetails p {
	font-size: 1.3em;
	padding: 0 1em;
}
