.login-profiles-container {
    background: rgb(236, 235, 235);
    background: rgba(236, 235, 235, .8);
    font-size: 36px;
    min-height: 440px;
    min-width: 676px;
}

.login-profiles {
    padding: 80px 0;
}

.login-profile {
    color: #ECEBEB;
    cursor: pointer;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    -webkit-text-stroke: 1px #000;
}
.login-profile:hover,
.login-selected {
    background: #B74A45;
}

.profile-inaccessable {
    opacity: .5;
}

.profile-inaccessable:hover {
    background: transparent;
    cursor: not-allowed;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.login-button {
    background: #ECEBEB;
    border: 2px solid #000;
    border-radius: 27.5px;
    color: #000;
    cursor: pointer;
    font-family: "Sedan SC";
    font-size: 33px;
    padding: 3px 20px;
}

.button-red {
    border: 2px solid #B74A45;
    color: #B74A45;
}

.login-new-form {
    background: #ECEBEB;
    border: 2px solid #000;
    color: #000;
    min-height: 440px;
    text-align: center;
    width: 676px;
}

.login-new-form h3 {
    font-size: .85em;
}

.account-name-input {
    padding: 55px 0;
}

input[type="text"] {
    display: block;
    font-family: "Sedan SC";
    font-size: 1.25em;
    margin: 0 auto;
}

.warning {
    color: #B74A45;
    font-size: 1.25em;
}

.warning-container {
    border: 2px solid #B74A45;
    display: flex;
    font-size: 30px;
    margin: 15px;
}

.warning-sign {
    align-items: center;
    background: #B74A45;
    color: #FFF;
    display: flex;
    font-family: "Ruslan Display";
    font-size: 5em;
    line-height: 1em;
    padding: 0 35px;
}

.warning-text {
    padding: 15px;
}

/* ANIMATIONS */

/* hollow */

.hollow {
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: visability;
    height: 3.90625%;
    opacity: 0;
    position: fixed;
    right: 9.736456%;
    top: 22.786458%;
    transform: translateX(50%);
    width: 2.196193%;
}

@keyframes visability { 0%, 100% {opacity: 1;} }

.hollow::after {
    animation: eyes 5s ease-in 15s infinite;
    animation-play-state: running;
    box-shadow: -8px 0 2px 2px red, 8px 0 2px 2px red;
    content: '';
    height: 0;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 0;
}

.hollow:hover::after {
    animation-play-state: paused;
    box-shadow: -8px 0 2px 2px red, 8px 0 2px 2px red;
}

@keyframes eyes {
    0% {box-shadow: -8px 0 2px 2px red, 8px 0 2px 2px red;}
    30% {box-shadow: -8px 0 2.6px 2px red, 8px 0 2.6px 2px red;}
    50% {box-shadow: -8px 0 2px 2px red, 8px 0 2px 2px red;}
    60% {box-shadow: -8px 0 2.6px 2px red, 8px 0 2.6px 2px red;}
    70% {box-shadow: -8px 0 3px 2.6px red, 8px 0 3px 2.6px red;}
    80% {box-shadow: -8px 0 3.4px 3px red, 8px 0 3.4px 3px red;}
    85% {box-shadow: -8px 0 4px 4px red, 8px 0 4px 4px red;}
    90% {box-shadow: -8px 0 2px 2px red, 8px 0 2px 2px red;}
    95% {box-shadow: -8px 0 4px 4px red, 8px 0 4px 4px red;}
    100% {box-shadow: -8px 0 2px 2px red, 8px 0 2px 2px red;}
}

/* window */

.window {
    bottom: 290px;
    height: 50px;
    position: fixed;
    right: 655px;
    transform: translateX(50%);
    width: 50px;
}

.window::after {
    animation: window 5s ease-in 9s infinite;
    animation-play-state: running;
    box-shadow:
        -9px 3px 11px 4px orange, 9px 2px 11px 4px orange,
        -9px 20px 10px 3px orange, 9px 19px 10px 3px orange;
    content: '';
    height: 0;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, 50%);
    width: 0;
}

.window:hover::after {
    animation-play-state: paused;
    box-shadow:
        -9px 3px 11px 4px orange, 9px 2px 11px 4px orange,
        -9px 20px 10px 3px orange, 9px 19px 10px 3px orange;
}

@keyframes window {
    0%, 30%, 60% {
        box-shadow:
        -9px 3px 11px 4px orange, 9px 3px 11px 4px orange,
        -9px 20px 10px 3px orange, 9px 20px 10px 3px orange;
    }
    20%, 40%, 80% {
        box-shadow:
        -9px 3px 11.5px 5px orange, 9px 3px 11.5px 5px orange,
        -9px 20px 11px 4px orange, 9px 20px 11px 4px orange;
    }
    90% {
        box-shadow:
        -9px 3px 12px 6px orange, 9px 3px 12px 6px orange,
        -9px 20px 11px 4.5px orange, 9px 20px 11px 4.5px orange;
    }
    100% {
        box-shadow:
        -9px 3px 11px 4px orange, 9px 3px 11px 4px orange,
        -9px 20px 9px 3px orange, 9px 20px 9px 3px orange;
    }
}

/* spider */

.spider {
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: visability;
    display: block;
    left: 20.644216%;
    opacity: 0;
    position: absolute;
    top: 6%;
    width: 3.513909%;
}

.spider img {
    margin-left: -2px;
    width: 100%;
}
@keyframes visability { 0%, 100% {opacity: 1;} }

@keyframes spider-move {
    0% {height: 0;}
    10% {height: 0;}
    25% {height: 400px;}
    50% {height: 200px;}
    75% {height: 300px;}
    90% {height: 0;}
    100% {height: 0;}
}

.spider::before {
    animation: spider-move 20s linear infinite alternate;
    animation-delay: 5s;
    background-color: rgb(0, 0, 0);
    content: "";
    display: block;
    margin: 0 auto -2px;
    width: 1px;
}

  /* mushrooms */

.mushroom {
    animation: glow 4s ease-in infinite alternate;
    animation-delay: 5s;
    background: url(../images/animation/mushroom.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 51.171875%;
    height: 11.588541%;
    opacity: 0;
    position: absolute;
    right: 7.467057%;
    width: 4.465592%;
}

@keyframes glow {
    from { opacity: 0; }
    to { opacity: .7; }
}

/*lizard eye*/

.lizard-eye {
    animation: moveLizardEye 4s infinite alternate;
    animation-delay: 5s;
    background: rgb(104, 124, 35);
    border: 3px solid black;
    border-radius: 20px 150px 30px 150px;
    height: 2.604166%;
    left: 15.2%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 48%;
    transform: rotate(-45deg);
    width: 1.464128%;
}

@keyframes moveLizardEye {
    0% {
        border-radius: 20px 150px 30px 150px;
        opacity: 1;
    }
    80% {
        border-radius: 10px 190px 20px 190px;
    }
    100% {
        opacity: 0;
    }
}

.eye {
    animation: moveEye 4s infinite alternate;
    animation-delay: 5s;
    background-image: radial-gradient(50% 50%, #92fa00, #1cbd04);
    border: 0.5px solid black;
    border-radius: 50%;
    box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.3), inset 0 0 4.5px 1px black;
    height: 100%;
    margin-left: 10%;
    margin-top: 15%;
    opacity: 0;
    position: relative;
    width: 100%;
}

@keyframes moveEye {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(0.9);
    }
}

.eyePupil {
    animation: moveEyePupil 4s infinite alternate;
    animation-delay: 5s;
    background: black;
    border-radius: 5px 100px 5px 100px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3), inset 0 0 45px 10px black;
    height: 0.911458%;
    left: 15.9%;
    opacity: 0;
    position: absolute;
    top: 49%;
    width: 0.512445%;
}

@keyframes moveEyePupil {
    0% {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
    80% {
        opacity: 1;
        transform: rotate(45deg) scale(0.75);
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) scale(0.1);
    }
}
