.MainMenuContainer {
  padding: 7% 10% 12%;
  box-sizing: border-box;

  background-color: #000;
  background-image: url("../images/Uzor-1.png");
  background-size: cover;
  background-position: center top;
}

.Content {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .MainOrnament {
  flex: 4;
  height: 650px;
} */

ul {
  align-self: center;
  display: flex;
  width: 200px;
  flex-direction: column;
  margin: 0 22px;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

li {
  margin-bottom: 17px;
}

li:last-child {
  margin-bottom: 0;
}

li button {
  height: 65px;
  margin-top: 0.1em;
  width: 100%;

  color: #000;
  font-size: 1.8em;

  background-color: #ffffff;
  border-radius: 3px;
  border-style: none;
  font-family: 'Ruslan Display', cursive;
}

li button:hover {
  background-color: #B74A45;
}

li button:focus {
  background-color: #B74A45;
  outline: none;
}

.DrakonImage {
  width: 400px;
  box-sizing: border-box;
}

.MainDrakonLeft,
.MainDrakonRight {
  width: 100%;
}

.MainDrakonRight {
  transform: scaleX(-1);
}
