body {
    cursor: default;
    user-select: none;
}

/* main menu */

.main-menu {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.55);
    bottom: 0;
    box-sizing: border-box;
    left: -19rem;
    position: fixed;
    top: 0;
    transition: left .5s;
    width: 20rem;
}

.main-menu:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.55);
}

.sidebar-opened {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.55);
    left: 0;
}

.logo-container {
    position: absolute;
    right: 50%;
    top: 10px;
    transform: translateX(50%);
}

.logo {
    width: 280px;
}

.btn-sidebar-toggle {
    position: absolute;
    right: -3.6rem;
    top: 25%;
    transform: scale(1,3);
}

.sidebar-opened .btn-sidebar-toggle {
    transform: rotate(180deg) scale(1,3);;
}

/* overlay */

.main-menu-overlay {
    height: 100vh;
    width: 0;
}

.main-menu-overlay:focus {
    outline: transparent;
}

.sidebar-opened .main-menu-overlay {
    width: 100vw;
}

/* buttons */

.menu-buttons-container {
    position: absolute;
    right: 3.6rem;
    top: 18.2rem;
}

.menu-buttons-group {
    list-style: none;
    margin: 0;
    padding: 0 0 3.1em 0;
}

.menu-button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Sedan SC', cursive;
    font-size: 24px;
    margin-top: .1em;
    padding: .2em 0 .15em 0;
    text-align: left;
    white-space: nowrap;
}

.menu-button:hover,
.menu-button:focus {
    color: rgb(183, 74, 69);
}
