.profile-container {
	background-image: url(../images/game-background.png);
	padding: 60px;
}

.profile {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .7);
	font-size: 36px;
	padding: 20px 60px;
}