.TopShelf {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 58px;
}

.TopIcon {
  height: 50px;
  width: 50px;
}

.TopButton {
  align-items: center;
  display: flex;
  flex: none;
}

.TopButton img {
  z-index: 50;
}

.TopButton Button {
  background-color: #FBFBFB;
  border: 1px solid #FBFBFB;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 1.4em;
  height: 25px;
  padding-bottom: 5px;
  width: 175px;

}

.TopButton Button:hover {
  color: #B74A45;
}

.TopButton Button:focus {
  color: #B74A45;
  outline: none;
}
