.TopShelf {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 58px;
}

.TopIcon {
  height: 50px;
  width: 50px;
}

.TopButton {
  display: flex;
  flex: none;
}

/* .TopButton:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
} */

.TopButton img {
  z-index: 50;
}

.TopButton Button {
  height: 25px;
  margin-left: 0;
  width: 175px;
  align-self: center;

  font-size: 1.3em;

  background-color: #FBFBFB;
  border: 1px solid #FBFBFB;
  border-radius: 7px;

  cursor: pointer;
}

.TopButton Button:hover {
  color: #B74A45;
}

.TopButton Button:focus {
  color: #B74A45;
  outline: none;
}

.TopButton img:hover,
.TopButton img:focus {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}
