	
	.OneHeroVersus {
		display: flex;
	 	flex-direction: column;
	 	flex-flow: row wrap;
	 	justify-content: center;
	 	padding-top: 3em;
	 	
	}

	.OneHeroVersus img {
		margin: auto;
		justify-content: center;
		
	}

	.OneHeroVersus body {
		display: flex;
		justify-content: center;

	}

	.OneHeroVersus div {
		display: flex;
		justify-content: center;
		padding-top: 1em;
		
	}
	
	p {
		font-family: Sedan SC;
		font-size: 9em;
		padding: 0.2em 1em;
		/*color: rgb(0, 0, 0);*/
	}

	h3 {
	 	flex: 2 100%;
	 	font-size: 1.5em;
	 	padding-top: 1em;
		justify-content: center;
		display: flex;

	}

	.PlayButton {
		color: rgb(255, 255, 255);
		 font-size: 2.25em;
		 font-family: Sedan SC;
		 display: flex;
		 justify-content: center;
		 
	}
	
	.PlayButtonLayer {
		display: bottom;
		margin-top: 15em;
		display: flex;
		justify-content: center;
	}
	.containerVersus {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  
}