/* profiles */

.versus-profiles-container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.versus-profile {
    background: rgb(236, 235, 235);
    background: rgba(236, 235, 235, .8);
    color: #000;
    font-size: 46px;
    height: 270px;
    padding: 40px 20px;
    text-align: center;
    width: 400px;
}

.versus-profile-player {
    font-family: "Ruslan Display";
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.versus-profile-name {
    align-items: center;
    color: #b74a45;
    display: flex;
    height: 127px;
    justify-content: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    -webkit-text-stroke: 1px #000;
}

/* heroes */

.versus-container {
    display: flex;
    flex-direction: column;
}

.versus-heroes-container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
    justify-content: center;
}

.versus-one-hero {
    margin-top: 1em;
}

.versus-one-hero img {
    border: .3em solid #fff;
    justify-content: center;
}

.versus-one-hero div {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.vs {
    color: #000;
    font-family: 'Sedan SC', 'Ruslan Display', cursive;
    font-size: 9em;
    margin: 0 .5em;
    text-align: center;
    text-shadow: 0 0 10px #fff;
}

/* loading */

.versus-loading-container {
    align-items: center;
    display: flex;
    height: 20vh;
    justify-content: center;
}

.versus-loading {
    background-image: url("../images/versus-loading.png");
    height: 56px;
    width: 1016px;
}

.loading {
    animation: loading 5s linear forwards;
    background: rgb(196, 196, 196);
    background: rgba(196, 196, 196, .7);
    border-radius: 0 15px 15px 0;
    height: 56px;
    position: relative;
}

@keyframes loading {
    from {left: 0; width: 100%;}
    to {left: 1016px; width: 0;}
}
