/* versus */

.versus-screen-container {
    background: #000 url("../images/start_screen.jpg") no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* heroes */

.versus-heroes-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 4.5em;
}

.versus-one-hero {
    border: .3em solid #fff;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
}

.versus-one-hero img {
    justify-content: center;
}

.versus-one-hero div {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.vs {
    color: #000;
    font-family: 'Sedan SC', 'Ruslan Display', cursive;
    font-size: 9em;
	margin: 0 .5em;
    text-align: center;
    text-shadow: 0 0 10px #fff;
}

/* play button */

.play-button-container {
    align-content: center;
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.55);
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
    margin-top: 10em;
	position: fixed;
    width: 100%;
    /*width: 2em;*/
}

.play-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: Sedan SC;
    font-size: 2.25em;
    margin: auto;
}
