	
	.OneHero {
		display: flex;
	 	flex-direction: column;
	 	flex-flow: row wrap;
	 	justify-content: center;
	 	display: inline-block;
	 	padding: 6em 10em;

	}

	.OneHero img {
		margin: auto;
		
	}

	.OneHero div {
		display: flex;
		justify-content: center;
		
	}

	h3 {
	 	flex: 2 100%;
	 	font-size: 1.5em;
	}
	