html, body {
  min-height: 100%;
  background-color: black;
  color: white;
}
.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.TopShelf{
  display: flex;
  width: 100%;
}

.TopIcon{
  width: 50px;
  height: 50px;
}

.TopButton{
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 2em;
}

.TopButton Button{
  hight: 2em;
  width: 150px;
}

.Content{
  position: relative;
  width: 100%;
  height: 100%;
}

.MainOrnament{
  position: absolute;
  top:0;
  left: 0;
  height: 650px;
}

.HeroSelection{
  width: 100%;
}

.HeroBlock{
  display: inline-block;
  padding: 1em;
}

ul{
  list-style: none;
  width: 150px;
  float: right;
  bottom: 0px;
}

li button{
  width: 150px;
  height: 50px;
  margin-top: 1em;
}
